[submodule "fish-lib-util"]
	path = fish-lib-util
	url = ssh://git@github.com/misterfish/fish-lib-util
[submodule "fish-lib-asound"]
	path = fish-lib-asound
	url = ssh://git@github.com/misterfish/fish-lib-asound
